body {
    background: #FFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "El Messiri", sans-serif;
    font-weight: bold;
}
p{
    font-weight: bold;
    line-height: 1.5em;
    margin-left:2em ;
}